<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quis 3</title>
    <style>
        * {
            margin: 0;
            padding: 0;
        }

        .container {
            display:flex;
            justify-content: center;
        }

        .form-member {
            border : 1px solid blue;
            width: 300px;
            padding:20px;
            display: block;
            margin-left: auto;
            margin-right: auto;
            border-radius: 10px;
            margin-bottom:10px;
        }
        

        .card {
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
            transition: 0.3s;
            width: 20%;
            display: flex;
        }

        .card:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        }

        .container {
        padding: 2px 16px;
        }
    </style>
</head>
<body>
    <div style="height: 50px; background: #bdd2b6;">
        <h1 style="text-align: center; padding-top:5px;">
            QUIS 3
        </h1>
    </div>
    <div id="app">
        <div class="form-member" style="margin-top:10px;">
            <form v-on:submit.prevent="submitForm()" >
                <p v-if="errors.length">
                    <b>Please Correct the following Errors</b>
                    <ul>
                        <li v-for="error in errors">{{ error }}</li>
                    </ul>
                </p>
                <p>
                    <label>Title</label><br>         
                    <input type="text" name="title" v-model="title" ref="title" :disabled=" buttonStatus == 'upload' "> 
                </p>
                <p style="margin-top:20px;">
                    <label>Description</label>
                    <br>
                    <textarea name="description" v-model="description" ref="description" 
                               cols="40" rows="3" :disabled=" buttonStatus == 'upload' ">
                    </textarea>
                </p>
                <div v-if="buttonStatus == 'submit' " style="margin-top:20px;">
                    <p>
                        <input type="submit" value="SUBMIT" style="background: #7eca9c; padding:5px;">
                    </p>
                </div>  
                <div v-else-if="buttonStatus == 'update' " style="margin-top:20px;">
                    <p>
                        <input type="button" value="UPDATE" @click="updateBlog(idEditBlog)" 
                               style="background: #7eca9c; padding:5px; margin-right: 30px;">                 
                        <input type="button" value="CANCEL" @click="clearForm()" style="background: #eac8af; padding:5px;">
                    </p>
                </div>    
                <div v-else-if="buttonStatus == 'upload' ">
                    <p style="margin-top: 20px;">
                        <input type="file" name="photo" ref="photo" id="img">
                    </p>
                    <p style="margin-top: 15px;">
                        <input type="button" value="UPLOAD" @click="submitPhoto(idUploadBlog)" style="background: #7eca9c; padding:5px;">
                    </p>
                    <p style="margin-top: 15px;">
                        <input type="button" value="CANCEL" @click="clearForm()" style="background: #eac8af; padding:5px;">
                    </p>
                </div>         
            </form>    
        </div>
     
        <div>
            <h3 style="text-align: center;">{{ getAllBlogMessage }} menampilkan semua blog</h3>
        </div>
        <div class="container">
            <card-component 
                v-for="blog in blogs" 
                :key="blog.title" 
                :blog="blog"
                @editblog="editBlog(blog)"
                @removeblog="removeBlog(blog.id)"
                @uploadphoto="uploadPhoto(blog)">
            </card-component>
        </div>
      </div>

    
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  
    <script>
        var CardComponent = {
            template: `
                <div style="width:20%;">
                    <img :src="blog.photo ? photoDomain + blog.photo: 'profile.png' " 
                        alt="Avatar" style="height: 100px; width: 100px;">
                    <div>
                        <h4><b>{{blog.title}}</b></h4> 
                        <br>
                        <label for="">Alamat:</label>
                        <p>{{blog.description}}</p> 
                        <br>
                    </div>
                    <div style="margin-top:20px;">
                        <button @click="$emit('editblog', blog)" style="background: #98ddca; padding:5px;">EDIT</button>
                        <button @click="$emit('removeblog', blog.id)" style="background: #a2b29f; padding:5px;">DELETE</button>
                        <button @click="$emit('uploadphoto', blog)" style="background: #f7f3e9; padding:5px;">UPLOAD PHOTO</button>
                    </div>
                </div>      
                `,
            data () {
                return {
                    photoDomain: 'http://demo-api-vue.sanbercloud.com',
                }
            },
            props: ['blog']
        }
        var app = new Vue({
            el: '#app',
            components : {
                'card-component' : CardComponent
            },
            data: {
                title: '',
                description: '',
                errors: [],
                blogs:[],
                // photoDomain: 'http://demo-api-vue.sanbercloud.com',
                buttonStatus: 'submit',
                idEditBlog : null,
                idUploadBlog : null,
                getAllBlogMessage:''
            },
            methods: {
                validationForm: function() {
                    this.errors=[];

                    if (this.title.length < 5) {
                        this.errors.push('nama minimal 5 karakter');
                        this.$ref.title.focus();
                    }

                    if (this.description == null) {
                        this.errors.push('Alamat tidak boleh Kosong');
                        this.$ref.description.focus();
                    }

                    if (this.description =="") {
                        this.errors.push('Alamat tidak boleh Kosong');
                        this.$ref.description.focus();
                    }

                    if (this.description.length > 30) {
                        this.errors.push('Alamat tidak boleh lebih dari 30 karakter');
                        this.$ref.description.focus();
                    }
                },

                clearForm: function() {
                    this.title='',
                    this.description=''
                },

                submitForm: function(){                    
                    this.validationForm()
                    if (this.errors.length === 0) {                        
                        let formData = new FormData()
                        formData.append('title', this.title)
                        formData.append('description', this.description)
                        
                        const config = {
                            method: 'post',
                            url: 'http://demo-api-vue.sanbercloud.com/api/blog',
                            data: formData,
                        }

                        axios(config)
                            .then((response) => {
                                    this.clearForm()
                                    this.getBlogs()
                                    alert (response.data.message);
                                })
                            .catch((error) => {
                                    console.log(error);
                            });
                    }
                },

                getBlogs: function() {
                    const config = {
                        method: 'get',
                        url: 'http://demo-api-vue.sanbercloud.com/api/blog',
                    }

                    axios(config)
                        .then((response) => {
                                // alert (response.data.message);
                                this.getAllBlogMessage = response.data.message;
                                // console.log( this.pesan)
                                this.blogs = response.data.blogs
                                console.log(response.data.blogs)
                            })
                        .catch((error) => {
                                console.log(error);
                            });
                },

                removeBlog: function(id) {
                    // console.log(id)
                    const config = {
                        method: 'post',
                        url: `http://demo-api-vue.sanbercloud.com/api/blog/${id}`,
                        params: { _method: "DELETE"}
                    }

                    axios(config)
                        .then((response) => {
                                this.getBlogs()
                                alert (response.data.message);
                                // console.log(response.data.message)
                            })
                        .catch((error) => {
                                console.log(error);
                            });
                },

                editBlog: function(blog) {
                    console.log(blog)
                    this.title= blog.title
                    this.description= blog.description
                    this.buttonStatus = 'update'
                    this.idEditBlog = blog.id
                },

                clearForm: function() {
                    this.title= ''
                    this.description= ''
                    this.buttonStatus = 'submit'
                    this.idEditBlog = null
                },

                updateBlog: function(id) {
                    this.validationForm()
                    if (this.errors.length === 0) {
                        let formData = new FormData()
                        formData.append('title', this.title)
                        formData.append('description', this.description)

                        let config = {
                            method: 'post',
                            url: `http://demo-api-vue.sanbercloud.com/api/blog/${id}`,
                            params: { _method: "PUT"},
                            data: formData
                        }

                        axios(config)
                            .then((response) => {
                                    this.clearForm()
                                    this.getBlogs()
                                    alert (response.data.message);
                                    // console.log(response.data.message)
                                })
                            .catch((error) => {
                                    console.log(error);
                                });
                    }
                },

                uploadPhoto: function(blog) {
                    // console.log(member)
                    this.title= blog.title
                    this.description= blog.description
                    this.buttonStatus = 'upload'
                    this.idUploadBlog = blog.id

                    console.log(this.idUploadBlog)
                },
                
                submitPhoto: function(id){
                    // console.log(id);
                    if(document.getElementById("img").files.length == 0 ){
                        alert('Please Upload Photo');;
                    } else {                                  
                        let file = this.$refs.photo.files[0]
                        
                        let formData = new FormData()
                            formData.append('photo', file)

                            let config = {
                                method: 'post',
                                url: `http://demo-api-vue.sanbercloud.com/api/blog/${id}/upload-photo`,
                                data: formData
                            }

                            axios(config)
                                .then((response) => {
                                        this.clearForm()
                                        this.idUploadBlog = null
                                        this.getBlogs()
                                        alert (response.data.message);
                                        // console.log(response.data.message)
                                    })
                                .catch((error) => {
                                        console.log(error);
                                    });
                        } 
                },   
            },
            created() {
                this.getBlogs()
            }
        })
    </script>
</body>
</html>